# Version numbers are just what the lastests were when creating this file
flask==3.0.3
flask_socketio==5.4.1
requests==2.32.3
serial==0.0.97
# For the make_pyplot.py
matplotlib==3.9.2
seaborn==0.13.2
