body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #3f51b5;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}


.info, .bus-info {
    flex: 1;
    min-width: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.info p, .bus-info p {
    font-size: 1.5em;
    margin: 10px 0;
}

.macice-status p {
    font-size: 12pt;
}

.mcice-bad {
    color: crimson;
}

.mcice-unknown {
    color: purple;
}

.mcice-good {
    color: lime;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.chart-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 400px;
    height: 400px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3f51b5;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#bbcNewsList {
    list-style-type: none;
    padding: 0;
}
#bbcNewsList li {
    margin: 5px 0;
}
#bbcNewsList a {
    text-decoration: none;
    color: #3f51b5;
}
#bbcNewsList a:hover {
    text-decoration: underline;
}

#gone-pub {
    background-color: #ff9b71;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.departures-container {
    margin: 20px;
    text-align: center;
}

#departuresTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#departuresTable th,
#departuresTable td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 16px;
}

#departuresTable th {
    background-color: #f2f2f2;
    color: #333;
}

#departuresTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#departuresTable tr:hover {
    background-color: #eaeaea;
}

#departuresTable td {
    text-align: left;
}
