<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Office Dashboard</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='duck.png') }}" sizes="32x32">

    <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header style="display: flex; align-items: center; justify-content: space-between; padding: 10px;">
    <div style="display: flex; align-items: center; gap: 10px;">
        <div>Office Dashboard</div>
        <img src="{{ url_for('static', filename='duck.png') }}" height="30px" />

        <img src="{{ url_for('static', filename='racoon.gif') }}" class="racoon" />
    </div>

    <div id="clock" style="font-weight: bold;"></div>
</header>

<div class="info-container">
    <div class="info">
        <h2>Office Conditions</h2>
        <p>Current Temperature: <span id="currentTemperature">--</span> °C</p>
        <!-- <p>Average Temperature (Last 5 minutes): <span id="averageTemperature5Min">--</span> °C</p>
        <p>Average Temperature (Last 5 days): <span id="averageTemperature5Days">--</span> °C</p> -->

        <h2>Campus Linc Shuttle Bus</h2>
        <p id="next-departure">Loading next departure...</p>
    </div>
    
    <!-- <div class="info dashboard">
        <h2>Office Dashboard</h2>
    
    <img src="{{ url_for('static', filename='duck.png') }}" height="30px">
    </div> -->

    <div class="info"> <!-- class="info macice-status" -->
        <h2>McDonald's Ice Cream Machines</h2>
        <p>Ruston Road: <code id="macice-p-rust" class="mcice-unknown">unknown</code></p>
        <!-- <p>13/14 Cornhill: <code id="macice-p-cor"  class="mcice-unknown">unknown</code></p> -->
        <p>323 High Street: <code id="macice-p-hs"   class="mcice-unknown">unknown</code></p>
        <p>The Carlton Centre: <code id="macice-p-carl" class="mcice-unknown">unknown</code></p>
        <p>Moorland Close: <code id="macice-p-moor" class="mcice-unknown">unknown</code></p>
        <p id="all-broken-message" style="color: red;"></p> <!-- New element for the message -->
    </div>

    <div class="info" style="font-size: 1.5em">
        <h2>Comment of the Moment</h2>
        <blockquote id="quoteText">Loading...</blockquote>
        <!-- <footer id="quoteAuthor"></footer> -->
    </div>
    
    <div class="info" id="weatherInfo">
        <h2>Weather</h2>
        <p>Loading weather data...</p>
        <h2>Office Conditions</h2>
    </div>

    <div class="info" id="gone-pub" style="display: none; text-align: center; font-size: 2em; padding: 20px;">
        <img src="{{ url_for('static', filename='rob_weather/birthday.jpg') }}" alt="${data.description}" class="rob_forecast_image" />
        <br />
        Gone Pub 🍻
    </div>

    <div class="info" id="gone-lunch" style="display: none; text-align: center; font-size: 2em; padding: 20px;">
        <img src="{{ url_for('static', filename='rob_weather/lunch.jpg') }}" alt="${data.description}" class="rob_forecast_image" />
        <br />
        Gone Lunch!
    </div>

    <div class="info" id="gone-home" style="display: none; text-align: center; font-size: 2em; padding: 20px;">
        <img src="{{ url_for('static', filename='rob_weather/home.jpg') }}" alt="${data.description}" class="rob_forecast_image" />
        <br />
        Gone Home!
    </div>
</div>

<div class="container">
    <div class="news-ticker info">
        <h2>News</h2>
        <div class="ticker-wrap">
            <ul id="newsList"></ul>
        </div>
    </div>
</div>

<div class="container">
    <div id="chartContainer" class="chart-container info">
        <div id="combinedChart"></div>
    </div>
    
    <div class="info bus_map_container">
        <h2>Live Buses <img src="{{ url_for('static', filename='bus_icon_white.svg') }}"/></h2>
        <div id="map_bus"></div>
    </div>
    
    <div class="info">
        <h2>3D Printer FabLab Mini Left</h2>
        <!-- <img src="http://printer2.network.uni/webcam/?action=stream" style="width: 70%"> -->         
        <img src="http://10.5.34.9/webcam/?action=stream" style="width:70%">
    </div>
</div>

<div class="info-container">
    <div class="info train-info" id="trainDepartures">
        <h2>Train Departures <img src="{{ url_for('static', filename='train_icon_white.svg') }}" /></h2>
        <p>Loading departures...</p>
    </div>

    <div class="info airport-info" id="flightDepartures">
        <h2>Humberside Airport Departures <img src="{{ url_for('static', filename='plane_icon_white.svg') }}" /></h2>
        <p>Loading departures...</p>
    </div>
</div>

<footer>
    &copy; 2024 Ducking Duck Ltd. 

    <img src="{{ url_for('static', filename='duck.png') }}" height="15px">            
    <!-- <div class="news-ticker">
        <img src="{{ url_for('static', filename='duck.png') }}" height="15px">
        <h2>News</h2>
        <div class="ticker-wrap">
            <ul id="newsList"></ul>
        </div>
    </div> -->
</footer>

<script>
    const socket = io();

    // Initialize Plotly chart for temperature and humidity on the same graph
    const layout = {
        title: 'Temperature and Humidity',
        xaxis: { title: 'Time' },
        yaxis: { title: 'Temperature (°C)', side: 'left' },
        yaxis2: { title: 'Humidity (%)', side: 'right', overlaying: 'y', showgrid: false },
        margin: { t: 50, r: 30, l: 50, b: 50 }
    };

    // Initial Plot for temperature and humidity
    Plotly.newPlot('combinedChart', [
        { x: [], y: [], mode: 'lines', name: 'Temperature', line: { color: 'red' }, yaxis: 'y' },
        { x: [], y: [], mode: 'lines', name: 'Humidity', line: { color: 'blue' }, yaxis: 'y2' }
    ], layout);

    // Fetch initial historical data for the last 'n' hours
    const hours = 6;  // You can make this dynamic based on user input

    fetch(`/get_last_hours/${hours}`)
        .then(response => response.json())
        .then(data => {
            const tempX = data.timestamps;
            const tempY = data.temperature_data;
            const humY = data.humidity_data;

            // Update the current temperature displayed when page loads
            document.getElementById('currentTemperature').innerText = data.temperature_data[data.temperature_data.length - 1].toFixed(2);

            // Populate the chart with historical data
            Plotly.restyle('combinedChart', 'x', [tempX]);
            Plotly.restyle('combinedChart', 'y', [tempY], 0);  // Update first y-axis for temperature
            Plotly.restyle('combinedChart', 'y', [humY], 1);   // Update second y-axis for humidity
        });

    // Listen for new data in real time and update the chart
    socket.on('new_data', function (data) {
        // Extend traces with new temperature and humidity data
        Plotly.extendTraces('combinedChart', { x: [[data.time]], y: [[data.temperature]] }, [0]);
        Plotly.extendTraces('combinedChart', { x: [[data.time]], y: [[data.humidity]] }, [1]);

        // Update the current temperature and averages displayed
        // document.getElementById('currentTemperature').innerText = data.current_temperature.toFixed(2);
        document.getElementById('currentTemperature').innerText = data.temperature_data[data.temperature_data.length - 1].toFixed(2);
        document.getElementById('averageTemperature5Min').innerText = data.average_temperature_5min.toFixed(2);
        document.getElementById('averageTemperature5Days').innerText = data.average_temperature_5days.toFixed(2);
    });

    const maxPoints = 60; // Adjust this based on your requirement

    function manageData() {
        // Fetch the current x data and limit it to the maxPoints
        const currentX = Plotly.d3.select('#combinedChart').data()[0].x;
        const currentYTemp = Plotly.d3.select('#combinedChart').data()[0].y[0];
        const currentYHum = Plotly.d3.select('#combinedChart').data()[1].y[0];

        if (currentX.length > maxPoints) {
            Plotly.restyle('combinedChart', {
                x: [currentX.slice(currentX.length - maxPoints)],
                y: [currentYTemp.slice(currentYTemp.length - maxPoints)],
            }, [0]);
            Plotly.restyle('combinedChart', {
                y: [currentYHum.slice(currentYHum.length - maxPoints)],
            }, [1]);
        }
    }

    // Call manageData after extending traces
    setInterval(() => {
        fetch(`/get_last_hours/${hours}`)
            .then(response => response.json())
            .then(data => {
                // Existing code for extending traces...
                manageData(); // Manage data after fetching new data
            });
    }, 60000); 



    // Bus schedule logic
    const departures = ["07:30", "08:30", "13:00", "16:40", "17:40"];

    function getNextBus() {
        const now = new Date();
        const currentTime = now.getHours() * 60 + now.getMinutes(); // Minutes since midnight

        const dayOfWeek = now.getDay(); // 0 = Sunday, 1 = Monday, ..., 5 = Friday, 6 = Saturday

        // Check if it's the weekend (Saturday or Sunday)
        if (dayOfWeek === 0 || dayOfWeek === 6) {
            document.getElementById("next-departure").textContent = `Next Departure from LAC: ${departures[0]} (Monday)`;
            return;
        }

        // Loop through the departure times to find the next bus
        for (let i = 0; i < departures.length; i++) {
            const [depHour, depMin] = departures[i].split(':').map(Number);
            const depTime = depHour * 60 + depMin;

            if (depTime >= currentTime) {
                document.getElementById("next-departure").textContent = `Next Departure from LAC: ${departures[i]}`;
                return;
            }
        }

        // If no more buses today, show the first departure of the next week (Monday)
        if (dayOfWeek === 5) { // If it's Friday
            document.getElementById("next-departure").textContent = `Next Departure from LAC: ${departures[0]} (Monday)`;
        } else { // If it's any weekday other than Friday
            document.getElementById("next-departure").textContent = `Next Departure from LAC: ${departures[0]} (Tomorrow)`;
        }
    }

    // Load bus times every 10 minutes (600,000 milliseconds)
    setInterval(getNextBus, 600000); // Adjust interval as needed
    getNextBus(); // Initial load


    function loadNews() {
        fetch('/news')
            .then(response => response.json())
            .then(data => {
                const newsList = document.getElementById('newsList');
                newsList.innerHTML = '';

                if (data.error) {
                    newsList.innerHTML = `<li>Error loading news: ${data.error}</li>`;
                    return;
                }

                // Populate the news list
                data.forEach(news => {
                    const listItem = document.createElement('li');
                    listItem.innerHTML = `<a href="${news.link}" target="_blank">${news.title}</a>`;
                    newsList.appendChild(listItem);
                });

                // Restart animation
                restartAnimation(newsList);
            })
            .catch(error => {
                console.error('Error fetching news:', error);
            });
    }

    // Restart animation to handle dynamic content
    function restartAnimation(newsList) {
        const contentWidth = newsList.scrollWidth; // Total width of the content
        const containerWidth = newsList.parentElement.offsetWidth; // Width of the container
        const duration = contentWidth / 100; // Adjust speed factor as needed

        newsList.style.animation = 'none'; // Reset animation
        newsList.offsetHeight; // Force reflow
        newsList.style.animation = `scroll ${duration}s linear infinite`; // Restart with new duration
    }

    // Load news on page load and every 60 seconds
    setInterval(loadNews, 60000);
    loadNews();





    function loadWeather(cityId) {
        fetch(`/weather/${cityId}`)
            .then(response => response.json())
            .then(data => {
                const weatherInfo = document.getElementById('weatherInfo');

                if (data.error) {
                    weatherInfo.innerHTML = `<p>Error loading weather: ${data.error}</p>`;
                    return;
                }

                // Check if the weather ID is 800 clear sky
                let additionalImage;

                if (data.id === 800 || data.id === 801) {
                    additionalImage = '<img src="{{ url_for('static', filename='rob_weather/sun.jpg') }}" alt="${data.description}" class="rob_forecast_image" />';
                } else if (data.id === 802 || data.id === 803 || data.id === 804) {
                    additionalImage = '<img src="{{ url_for('static', filename='rob_weather/cloud.jpg') }}" alt="${data.description}" class="rob_forecast_image" />';
                } else {
                    additionalImage = '<img src="{{ url_for('static', filename='rob_weather/rain.jpg') }}" alt="${data.description}" class="rob_forecast_image" />';
                }

                // <h2>Weather Information</h2>
                // <p>Temperature: ${data.temperature} °C</p>
                // <p>Condition: ${data.description}</p>    
                //<img src="http://openweathermap.org/img/wn/${data.icon}.png" alt="${data.description}" />

                weatherInfo.innerHTML = `
                    <div class="weather-container">
                        <div class="left-content">
                            <h2>Rob Weather Forecast</h2>
                            <p>
                                ${data.temperature} °C - ${data.description} &nbsp;
                                <img src="http://openweathermap.org/img/wn/${data.icon}.png" 
                                    alt="${data.description}" class="weather_icon" />
                            </p>
                        </div>
                        <div class="right-content">
                            ${additionalImage}
                        </div>
                    </div>
                `;

                // weatherInfoRob.innerHTML = `
                //     <h2>Rob Forecast</h2>
                //     ${additionalImage}
                // `;

            })
            .catch(error => console.error('Error fetching weather:', error));
    }

    // Load weather every 10 minutes (600,000 milliseconds)
    setInterval(() => loadWeather('Lincoln,GB'), 600000);
    loadWeather('Lincoln,GB'); // Initial load

    function checkPubTime() {
        const now = new Date();
        const day = now.getDay(); // 5 is Friday (0 = Sunday, 6 = Saturday)
        const hours = now.getHours();

        const isFriday = day === 5;
        const isPubTime = hours >= 17 && hours < 22; // Between 5:00 PM and 10:00 PM

        const pubDiv = document.getElementById('gone-pub');
        if (isFriday && isPubTime) {
            pubDiv.style.display = 'block'; // Show the message
        } else {
            pubDiv.style.display = 'none'; // Hide the message
        }
    }

    // Check every minute if it's pub time (60000 milliseconds)
    setInterval(checkPubTime, 60000);
    checkPubTime(); // Initial check when the page loads

    function checkLunchTime() {
        const now = new Date();
        const day = now.getDay(); // 0 = Sunday, 6 = Saturday
        const hours = now.getHours();

        // Check if the current day is Monday to Friday (1 to 5)
        const isWeekday = day >= 1 && day <= 5;
        // Check if the current hour is between 12 PM and 1 PM
        const isLunchTime = hours >= 12 && hours < 13;

        const lunchDiv = document.getElementById('gone-lunch');
        if (isWeekday && isLunchTime) {
            lunchDiv.style.display = 'block'; // Show the message
        } else {
            lunchDiv.style.display = 'none'; // Hide the message
        }
    }

    // Check every minute if it's lunch time (60000 milliseconds)
    setInterval(checkLunchTime, 60000);
    checkLunchTime(); // Initial check when the page loads

    function checkHomeTime() {
        const now = new Date();
        const day = now.getDay(); // 0 = Sunday, 6 = Saturday
        const hours = now.getHours();

        // Check if the current hour is between 5 PM and 8 am
        const isHomeTime = hours >= 18 || hours <= 8;

        const HomeDiv = document.getElementById('gone-home');
        if (isHomeTime) {
            HomeDiv.style.display = 'block'; // Show the message
        } else {
            HomeDiv.style.display = 'none'; // Hide the message
        }
    }

    // Check every minute if it's Home time (60000 milliseconds)
    setInterval(checkHomeTime, 60000);
    checkHomeTime(); // Initial check when the page loads



    function loadTrainDepartures(departureStation = 'LCN') {
        fetch(`/train_departures/${departureStation}`)
            .then(response => response.json())
            .then(data => {
                const trainDepartures = document.getElementById('trainDepartures');

                if (data.error) {
                    trainDepartures.innerHTML = `<p>Error loading departures: ${data.error}</p>`;
                    return;
                }

                let departuresHtml = `
                    <h2>${data.station_name} Departures  <img src="{{ url_for('static', filename='train_icon_white.svg') }}" /></h2>
                    <table id="trainSchedule">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Platform</th>
                            <th>Expected</th>
                            <th>Operator</th>
                        </tr>
                    </thead>
                `;
                departuresHtml += '<tbody>';
                
                // Limit the number of trains to a maximum of 5
                const limitedDepartures = data.departures.slice(0, 5);

                limitedDepartures.forEach(departure => {
                    departuresHtml += `
                        <tr>
                            <td>${departure.std}</td>
                            <td>${departure.destination_name}</td>
                            <td>${departure.platform}</td>
                            <td>${departure.etd}</td>
                            <td>${departure.operator}</td>
                        </tr>
                    `;
                });

                departuresHtml += '</tbody></table>';

                trainDepartures.innerHTML = departuresHtml;
            })
            .catch(error => console.error('Error fetching departures:', error));
    }

    // Load train departures every 10 minutes (600,000 milliseconds)
    setInterval(() => loadTrainDepartures('LCN'), 600000);
    loadTrainDepartures('LCN'); // Initial load

    // function loadDepartures() {
    //     fetch('/departures_airport')
    //         .then(response => response.json())
    //         .then(data => {
    //             const departuresList = document.getElementById('departuresList');
    //             departuresList.innerHTML = '';

    //             if (data.error) {
    //                 departuresList.innerHTML = `<li>Error loading departures: ${data.error}</li>`;
    //                 return;
    //             }

    //             data.forEach(departure => {
    //                 const listItem = document.createElement('li');
    //                 listItem.innerHTML = `${departure.flight_number} to ${departure.destination} at ${new Date(departure.departure_time).toLocaleString()}`;
    //                 departuresList.appendChild(listItem);
    //             });
    //         })
    //         .catch(error => {
    //             console.error('Error fetching departures:', error);
    //         });
    // }

    // // Load the departures on page load
    // setInterval(loadDepartures, 60000);
    // loadDepartures();
    
    // Initialize the bus map
    const map = L.map('map_bus').setView([53.22661638788088, -0.5430025089888347], 15);

    // Add OpenStreetMap tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Create a custom bus icon
    const busIcon = L.icon({
        iconUrl: '{{ url_for('static', filename='bus_icon.svg') }}',  // Change this to your bus icon URL
        iconSize: [30, 30],  // Size of the icon
        iconAnchor: [15, 30],  // Point of the icon which will correspond to marker's location
        popupAnchor: [0, -30]  // Point from which the popup should open relative to the iconAnchor
    });

    // Function to fetch GeoJSON data and update the map
    function updateMap() {
        fetch('/bus_data')
            .then(response => response.json())
            .then(geojsonData => {
                // Clear existing layers
                map.eachLayer(function (layer) {
                    if (layer instanceof L.GeoJSON) {
                        map.removeLayer(layer);
                    }
                });

                // Add new GeoJSON layer to the map
                L.geoJSON(geojsonData, {
                    pointToLayer: function (feature, latlng) {
                        const marker = L.marker(latlng, { icon: busIcon });
                        // Bind tooltip with bus line number above the icon
                        marker.bindTooltip(`${feature.properties.lineRef}`, {
                            permanent: true,  // Tooltip will always be visible
                            direction: 'top',  // Position the tooltip above the marker
                            offset: [0, -30],  // Move tooltip 40 pixels above the marker
                            className: 'bus_map_tooltip'  // Custom class for styling
                        }).openTooltip();  // Optional: Open the tooltip on load
                        return marker;
                    },
                    onEachFeature: function (feature, layer) {
                        layer.bindPopup(`
                                        <strong>Route:</strong> ${feature.properties.lineRef}<br>
                                        <strong>Destination:</strong> ${feature.properties.destinationName}<br>
                                        <!--<strong>Origin:</strong> ${feature.properties.originName}<br>
                                        <strong>Vehicle:</strong> ${feature.properties.vehicleRef}<br>
                                        <strong>Operator:</strong> ${feature.properties.operatorRef}<br>-->
                                        <strong>Data Received:</strong> ${feature.properties.recordedAtTime}
                                        `);
                    }
                }).addTo(map);
            })
            .catch(error => {
                console.error('Error fetching GeoJSON data:', error);
            });
    }

    // Initial call to load the map data
    updateMap();

    // Update the map every 30 seconds
    setInterval(updateMap, 30000);

    async function checkMICE() {
        const markers = await (await fetch("https://mcbroken.com/markers.json", { "method": "GET" })).json();

        const id_map = {
            "macice-p-rust": { "street": "Ruston Road", "city": "Lincoln" },
            "macice-p-hs": { "street": "323 High Street", "city": "Lincoln" },
            "macice-p-carl": { "street": "The Carlton Centre", "city": "Lincoln" },
            "macice-p-moor": { "street": "Moorland Close", "city": "Lincoln" }
        }

        let allBroken = true; // Flag to check if all are broken

        Object.keys(id_map).forEach(key => {
            const vals = id_map[key];
            const shop = markers.features.filter(obj => {
                return (obj.properties.city === vals.city && obj.properties.street === vals.street && obj.properties.country === "UK");
            })[0];

            const indicator = document.getElementById(key);
            
            console.log(shop);
            
            switch (shop.properties.dot) {
                case "working":
                    indicator.innerText = "Working";
                    indicator.classList = ["mcice-good"];
                    allBroken = false; // Set flag to false if any machine is working
                    break;

                case "broken":
                    indicator.innerText = "Broken";
                    indicator.classList = ["mcice-bad"];
                    break;

                case "inactive":
                default:
                    indicator.innerText = "Unknown";
                    indicator.classList = ["mcice-unknown"];
                    allBroken = false; // Set flag to false if any machine is inactive or unknown
                    break;
            }
        });

        // Show "All Broken" if all machines are broken
        const allBrokenMessage = document.getElementById("all-broken-message");
        if (allBroken) {
            allBrokenMessage.innerText = "All Broken nearest Wendys: 195 High Street";
        } else {
            allBrokenMessage.innerText = ""; // Clear the message if not all are broken
        }
    }

    // Check every 10 minutes the mc status (600000 milliseconds)
    setInterval(checkMICE, 600000);
    checkMICE(); // Initial check when the page loads


    function updateClock() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const timeString = `Brayford: ${hours}:${minutes} | Riseholme: ${hours}:${minutes}`;
        
        document.getElementById('clock').textContent = timeString;
    }

    setInterval(updateClock, 1000);  // Update every second
    updateClock();  // Initial call to display the clock immediately

    function loadQuoteOfTheDay() {
    fetch('/random_quote')
        .then(response => response.json())
        .then(data => {
            document.getElementById('quoteText').textContent = `"${data.quote}"`;
            // document.getElementById('quoteAuthor').textContent = `- ${data.author}`;
        })
        .catch(error => {
            console.error('Error fetching quote of the day:', error);
            document.getElementById('quoteText').textContent = "Error loading quote.";
            // document.getElementById('quoteAuthor').textContent = "";
        });
    }

    // Update every 10 minutes (600000 milliseconds)
    setInterval(loadQuoteOfTheDay, 600000);
    loadQuoteOfTheDay(); // Initial run when the page loads



    function loadFlightDepartures() {
    fetch('/flight_departures')  // This URL should point to your Flask route for fetching flight departures
        .then(response => response.json())
        .then(data => {
            const flightDepartures = document.getElementById('flightDepartures');

            if (data.error) {
                flightDepartures.innerHTML = `<p class="no-data">Error loading departures: ${data.error}</p>`;
                return;
            }

            let departuresHtml = `
                <h2>Humberside Airport Departures <img src="{{ url_for('static', filename='plane_icon_white.svg') }}" /></h2>
                <table id="flightSchedule">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Flight</th>
                            <th colspan="2">Airline</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                <tbody>
            `;
            
            // Limit the number of departures to a maximum of 5
            const limitedDepartures = data.departures.slice(0, 5);

            console.log(limitedDepartures);

            // Function to determine the status class
            const getStatusClass = (status) => {
                if (status === 'Delayed') {
                    return 'highlight-yellow';
                } else if (status === 'Cancelled' || status === 'Not Operating') {
                    return 'highlight-red';
                } else {
                    return '';  // Default if no special status
                }
            };

            // Loop through departures and generate the table rows
            limitedDepartures.forEach(departure => {
                const statusClass = getStatusClass(departure.statusMessage);  // Get the status class based on the status
                departuresHtml += `
                    <tr>
                        <td>${departure.aggregatedDateTime}</td>
                        <td>${departure.location}</td>
                        <td>${departure.flightNumber}</td>
                        <td><span class="highlight">${departure.airlineName}</span></td>
                        <td><img src="${departure.airlineLogo}" alt="" class="airline-logo"></td>
                        <td><span class="${statusClass}">${departure.statusMessage}</span></td>
                    </tr>
                `;
            });

            departuresHtml += '</tbody></table>';

            flightDepartures.innerHTML = departuresHtml;
        })
        .catch(error => console.error('Error fetching departures:', error));
    }

    // Load flight departures every 100 minutes (6,000,000 milliseconds)
    setInterval(loadFlightDepartures, 6000000);
    loadFlightDepartures();  // Initial load




</script>

</body>
</html>